body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.Color1 {
  color: coral;
}
section {
  display: flex;
  padding: 50px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 75%;
  position: center;
}
.link-button {
  text-decoration: none;
  padding: 5px 10px;
  background-image: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
}
.section1 {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.section2 {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
